@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif; 
  }
  .grid {
    perspective: 1500px;
  }

  body {
    @apply bg-[#fafafa] text-gray-900 antialiased;
  }
}

@layer utilities {
  
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }


  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #00a884;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #008f70;
  }
}

.swiper-pagination-bullet-active {
  background: #00a884 !important;
}

.swiper-button-next, .swiper-button-prev {
  color: #00a884 !important;
  transform: scale(0.7);
}